* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

.s-container {
	align-items: center;
	color: #fff;
	display: flex;
	font: 30px/1.375 "Lato", arial, sans-serif;
	flex-flow: column nowrap;
	height: 60vh;
	justify-content: center;
    width: 100vw;
}

.note {
	font-size: 0.375em;
	font-weight: bold;
	text-transform: uppercase;
	color: #6426a7;
}

#search {
	align-items: center;
	background: #e8e8e8ff;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	margin: 0.5em 0;
	padding: 0.5em 0.5em 0.5em 1em;
	transition: all 0.5s;
    width: 500px;
}

#search:hover, #search:focus {
	background: gray;
}

#search button,
  #search input {
	appearance: none;
	background: transparent;
	border: 0;
	color: inherit;
	font: inherit;
	outline: 0;
}

#search button {
	cursor: pointer;
	padding: 0 0.25em;
}

#search input {
	flex: 1;
}

#search input::placeholder {
	color: gray;
}

#search input::placeholder:hover{
	color: black;
}

#search .spinner {
	animation: spinner 1s infinite linear;
	display: none;
	padding: 0 0.25em;
}

#search.loading button {
	display: none;
}

#search.loading .spinner {
	display: block;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}